In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Importamos el archivo csv
energy = pd.read_csv('energyco2.csv')

In [ ]:
print(energy.head())

   Unnamed: 0 Country                Energy_type  Year  Energy_consumption  \
0           0   World           all_energy_types  1980          292.899790
1           1   World                       coal  1980           78.656134
2           2   World                natural_gas  1980           53.865223
3           3   World  petroleum_n_other_liquids  1980          132.064019
4           4   World                    nuclear  1980            7.575700

   Energy_production           GDP    Population  Energy_intensity_per_capita  \
0         296.337228  27770.910281  4.298127e+06                    68.145921
1          80.114194  27770.910281  4.298127e+06                    68.145921
2          54.761046  27770.910281  4.298127e+06                    68.145921
3         133.111109  27770.910281  4.298127e+06                    68.145921
4           7.575700  27770.910281  4.298127e+06                    68.145921

   Energy_intensity_by_GDP  CO2_emission
0                   10.547   4946.627130
1                   10.547   1409.790188
2                   10.547   1081.593377
3                   10.547   2455.243565
4                   10.547      0.000000

In [ ]:
print(energy.tail())

       Unnamed: 0   Country                Energy_type  Year  \
55435       55435  Zimbabwe                       coal  2019
55436       55436  Zimbabwe                natural_gas  2019
55437       55437  Zimbabwe  petroleum_n_other_liquids  2019
55438       55438  Zimbabwe                    nuclear  2019
55439       55439  Zimbabwe         renewables_n_other  2019

       Energy_consumption  Energy_production      GDP  Population  \
55435            0.045064           0.075963  37.6204     14654.2
55436            0.000000           0.000000  37.6204     14654.2
55437            0.055498           0.000000  37.6204     14654.2
55438                 NaN                NaN  37.6204     14654.2
55439            0.068089           0.067499  37.6204     14654.2

       Energy_intensity_per_capita  Energy_intensity_by_GDP  CO2_emission
55435                    11.508701                 4.482962      4.586869
55436                    11.508701                 4.482962      0.000000
55437                    11.508701                 4.482962      4.377890
55438                    11.508701                 4.482962      0.000000
55439                    11.508701                 4.482962      0.000000

In [ ]:
print(energy.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB
None

In [ ]:
#seleccionar datos de 2019
energy_2019 = energy[energy['Year'] == 2019]
print(energy_2019.head())

       Unnamed: 0 Country                Energy_type  Year  \
54054       54054   World           all_energy_types  2019
54055       54055   World                       coal  2019
54056       54056   World                natural_gas  2019
54057       54057   World  petroleum_n_other_liquids  2019
54058       54058   World                    nuclear  2019

       Energy_consumption  Energy_production            GDP    Population  \
54054          601.040490         611.508969  127690.247059  7.714631e+06
54055          163.971776         171.840424  127690.247059  7.714631e+06
54056          146.923396         149.401588  127690.247059  7.714631e+06
54057          196.077358         192.134558  127690.247059  7.714631e+06
54058           27.659891          27.659891  127690.247059  7.714631e+06

       Energy_intensity_per_capita  Energy_intensity_by_GDP  CO2_emission
54054                    77.909168                  4.70702  35584.933498
54055                    77.909168                  4.70702  15773.074341
54056                    77.909168                  4.70702   7607.936618
54057                    77.909168                  4.70702  12203.922539
54058                    77.909168                  4.70702      0.000000

In [ ]:
#abrir csv electricity-prod-source-stacked.csv
electricity_source = pd.read_csv('electricity-prod-source-stacked.csv')
print(electricity_source.head())

        Entity Code  Year  Electricity from coal (TWh)  \
0  Afghanistan  AFG  2000                          0.0
1  Afghanistan  AFG  2001                          0.0
2  Afghanistan  AFG  2002                          0.0
3  Afghanistan  AFG  2003                          0.0
4  Afghanistan  AFG  2004                          0.0

   Electricity from gas (TWh)  Electricity from hydro (TWh)  \
0                         0.0                          0.31
1                         0.0                          0.50
2                         0.0                          0.56
3                         0.0                          0.63
4                         0.0                          0.56

   Other renewables including bioenergy (TWh)  Electricity from solar (TWh)  \
0                                         0.0                           0.0
1                                         0.0                           0.0
2                                         0.0                           0.0
3                                         0.0                           0.0
4                                         0.0                           0.0

   Electricity from oil (TWh)  Electricity from wind (TWh)  \
0                        0.16                          0.0
1                        0.09                          0.0
2                        0.13                          0.0
3                        0.31                          0.0
4                        0.33                          0.0

   Electricity from nuclear (TWh)
0                             0.0
1                             0.0
2                             0.0
3                             0.0
4                             0.0
        Entity Code  Year  Electricity from coal (TWh)  \
9170  Zimbabwe  ZWE  2016                         3.46
9171  Zimbabwe  ZWE  2017                         3.02
9172  Zimbabwe  ZWE  2018                         3.69
9173  Zimbabwe  ZWE  2019                         3.62
9174  Zimbabwe  ZWE  2020                         3.44

      Electricity from gas (TWh)  Electricity from hydro (TWh)  \
9170                         0.0                          2.95
9171                         0.0                          3.93
9172                         0.0                          5.00
9173                         0.0                          7.26
9174                         0.0                          7.26

      Other renewables including bioenergy (TWh)  \
9170                                        0.36
9171                                        0.32
9172                                        0.39
9173                                        0.38
9174                                        0.36

      Electricity from solar (TWh)  Electricity from oil (TWh)  \
9170                          0.01                        0.04
9171                          0.01                        0.03
9172                          0.01                        0.04
9173                          0.01                        0.04
9174                          0.01                        0.04

      Electricity from wind (TWh)  Electricity from nuclear (TWh)
9170                          0.0                             0.0
9171                          0.0                             0.0
9172                          0.0                             0.0
9173                          0.0                             0.0
9174                          0.0                             0.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9175 entries, 0 to 9174
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      9175 non-null   object
 1   Code                                        7182 non-null   object
 2   Year                                        9175 non-null   int64
 3   Electricity from coal (TWh)                 6437 non-null   float64
 4   Electricity from gas (TWh)                  6438 non-null   float64
 5   Electricity from hydro (TWh)                9170 non-null   float64
 6   Other renewables including bioenergy (TWh)  8899 non-null   float64
 7   Electricity from solar (TWh)                8939 non-null   float64
 8   Electricity from oil (TWh)                  6438 non-null   float64
 9   Electricity from wind (TWh)                 8953 non-null   float64
 10  Electricity from nuclear (TWh)              8808 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 788.6+ KB
None

In [ ]:
print(electricity_source.tail())

        Entity Code  Year  Electricity from coal (TWh)  \
9170  Zimbabwe  ZWE  2016                         3.46
9171  Zimbabwe  ZWE  2017                         3.02
9172  Zimbabwe  ZWE  2018                         3.69
9173  Zimbabwe  ZWE  2019                         3.62
9174  Zimbabwe  ZWE  2020                         3.44

      Electricity from gas (TWh)  Electricity from hydro (TWh)  \
9170                         0.0                          2.95
9171                         0.0                          3.93
9172                         0.0                          5.00
9173                         0.0                          7.26
9174                         0.0                          7.26

      Other renewables including bioenergy (TWh)  \
9170                                        0.36
9171                                        0.32
9172                                        0.39
9173                                        0.38
9174                                        0.36

      Electricity from solar (TWh)  Electricity from oil (TWh)  \
9170                          0.01                        0.04
9171                          0.01                        0.03
9172                          0.01                        0.04
9173                          0.01                        0.04
9174                          0.01                        0.04

      Electricity from wind (TWh)  Electricity from nuclear (TWh)
9170                          0.0                             0.0
9171                          0.0                             0.0
9172                          0.0                             0.0
9173                          0.0                             0.0
9174                          0.0                             0.0

In [ ]:
print(electricity_source.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9175 entries, 0 to 9174
Data columns (total 11 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      9175 non-null   object
 1   Code                                        7182 non-null   object
 2   Year                                        9175 non-null   int64
 3   Electricity from coal (TWh)                 6437 non-null   float64
 4   Electricity from gas (TWh)                  6438 non-null   float64
 5   Electricity from hydro (TWh)                9170 non-null   float64
 6   Other renewables including bioenergy (TWh)  8899 non-null   float64
 7   Electricity from solar (TWh)                8939 non-null   float64
 8   Electricity from oil (TWh)                  6438 non-null   float64
 9   Electricity from wind (TWh)                 8953 non-null   float64
 10  Electricity from nuclear (TWh)              8808 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 788.6+ KB
None

In [ ]:
#filtrar datos de 2022
electricity_source_2022 = electricity_source[electricity_source['Year'] == 2022]
print(electricity_source_2022.head())

Empty DataFrame
Columns: [Entity, Code, Year, Electricity from coal (TWh), Electricity from gas (TWh), Electricity from hydro (TWh), Other renewables including bioenergy (TWh), Electricity from solar (TWh), Electricity from oil (TWh), Electricity from wind (TWh), Electricity from nuclear (TWh)]
Index: []

In [ ]:
#filtrar datos de 2021
electricity_source_2021 = electricity_source[electricity_source['Year'] == 2021]
print(electricity_source_2021.head())

          Entity Code  Year  Electricity from coal (TWh)  \
57        Africa  NaN  2021                   247.403763
114  Africa (BP)  NaN  2021                   247.403763
222      Algeria  DZA  2021                          NaN
322    Argentina  ARG  2021                     2.916733
364      Armenia  ARM  2021                     0.000000

     Electricity from gas (TWh)  Electricity from hydro (TWh)  \
57                   355.564392                    153.418701
114                  355.564392                    153.418686
222                         NaN                      0.009300
322                   93.331833                     19.597536
364                    3.020000                      1.840000

     Other renewables including bioenergy (TWh)  Electricity from solar (TWh)  \
57                                     8.026317                     16.515236
114                                    8.026318                     16.515236
222                                    0.000000                      0.664000
322                                    2.103897                      2.195563
364                                    0.000000                      0.020000

     Electricity from oil (TWh)  Electricity from wind (TWh)  \
57                    76.190125                    24.415970
114                   76.190125                    24.415970
222                         NaN                     0.010500
322                    7.933881                    12.937551
364                    0.000000                     0.000000

     Electricity from nuclear (TWh)
57                        10.424211
114                       10.424211
222                             NaN
322                       10.831573
364                        2.610000

### Los datos de electricity-prod-source-stacked.csv estan hasta 2021
#### Fuente:

### Archivo : CO2 emissions per capita per country.csv
#### Fuente: https://data.world/makeovermonday/2019w22

In [ ]:
#crear dataframe con el csv CO2-emissions-per-capita.csv
co2_emissions = pd.read_csv('CO2 emissions per capita per country.csv')
print(co2_emissions.head())

  Country Name Country Code      1960      1961      1962      1963      1964  \
0        Aruba          ABW       NaN       NaN       NaN       NaN       NaN
1  Afghanistan          AFG  0.046060  0.053604  0.073765  0.074233  0.086292
2       Angola          AGO  0.097472  0.079038  0.201289  0.192535  0.201003
3      Albania          ALB  1.258195  1.374186  1.439956  1.181681  1.111742
4      Andorra          AND       NaN       NaN       NaN       NaN       NaN

       1965      1966      1967  ...       2009       2010       2011  \
0       NaN       NaN       NaN  ...  25.915833  24.670529  24.505835
1  0.101467  0.107637  0.123734  ...   0.241723   0.293837   0.412017
2  0.191528  0.246413  0.154912  ...   1.232495   1.243406   1.252789
3  1.166099  1.333055  1.363746  ...   1.495600   1.578574   1.803715
4       NaN       NaN       NaN  ...   6.121652   6.122595   5.867130

        2012      2013      2014  2015  2016  2017  2018
0  13.155542  8.351294  8.408363   NaN   NaN   NaN   NaN
1   0.350371  0.315602  0.299445   NaN   NaN   NaN   NaN
2   1.330843  1.254617  1.291328   NaN   NaN   NaN   NaN
3   1.692908  1.749211  1.978763   NaN   NaN   NaN   NaN
4   5.916597  5.900753  5.832170   NaN   NaN   NaN   NaN

[5 rows x 61 columns]

In [ ]:
#tail co2_emissions
print(co2_emissions.tail())

     Country Name Country Code      1960      1961      1962      1963  \
259        Kosovo          XKX       NaN       NaN       NaN       NaN
260   Yemen, Rep.          YEM  0.702611  0.506779  0.726302  0.535971
261  South Africa          ZAF  5.610092  5.703690  5.747719  5.811157
262        Zambia          ZMB       NaN       NaN       NaN       NaN
263      Zimbabwe          ZWE       NaN       NaN       NaN       NaN

         1964      1965      1966      1967  ...      2009      2010  \
259       NaN       NaN       NaN       NaN  ...       NaN       NaN
260  0.655561  0.696540  0.602812  0.521386  ...  1.069059  0.992602
261  6.163809  6.431587  6.265413  6.361646  ...  9.870597  9.190699
262  0.949422  1.099048  0.952613  1.263954  ...  0.186396  0.194337
263  1.047748  1.182364  1.327983  1.127398  ...  0.405716  0.552146

         2011      2012      2013      2014  2015  2016  2017  2018
259       NaN       NaN       NaN       NaN   NaN   NaN   NaN   NaN
260  0.810900  0.749447  0.996885  0.864835   NaN   NaN   NaN   NaN
261  9.004033  8.845033  8.673963  8.980119   NaN   NaN   NaN   NaN
262  0.205911  0.249457  0.261113  0.288271   NaN   NaN   NaN   NaN
263  0.664751  0.529703  0.775564  0.779956   NaN   NaN   NaN   NaN

[5 rows x 61 columns]

In [ ]:
co2_emissions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 61 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  264 non-null    object
 1   Country Code  264 non-null    object
 2   1960          192 non-null    float64
 3   1961          193 non-null    float64
 4   1962          195 non-null    float64
 5   1963          196 non-null    float64
 6   1964          203 non-null    float64
 7   1965          203 non-null    float64
 8   1966          203 non-null    float64
 9   1967          203 non-null    float64
 10  1968          203 non-null    float64
 11  1969          203 non-null    float64
 12  1970          205 non-null    float64
 13  1971          206 non-null    float64
 14  1972          208 non-null    float64
 15  1973          208 non-null    float64
 16  1974          208 non-null    float64
 17  1975          208 non-null    float64
 18  1976          208 non-null    float64
 19  1977          208 non-null    float64
 20  1978          208 non-null    float64
 21  1979          208 non-null    float64
 22  1980          208 non-null    float64
 23  1981          208 non-null    float64
 24  1982          208 non-null    float64
 25  1983          208 non-null    float64
 26  1984          208 non-null    float64
 27  1985          208 non-null    float64
 28  1986          209 non-null    float64
 29  1987          209 non-null    float64
 30  1988          209 non-null    float64
 31  1989          209 non-null    float64
 32  1990          215 non-null    float64
 33  1991          217 non-null    float64
 34  1992          241 non-null    float64
 35  1993          241 non-null    float64
 36  1994          242 non-null    float64
 37  1995          243 non-null    float64
 38  1996          243 non-null    float64
 39  1997          244 non-null    float64
 40  1998          245 non-null    float64
 41  1999          245 non-null    float64
 42  2000          245 non-null    float64
 43  2001          245 non-null    float64
 44  2002          246 non-null    float64
 45  2003          246 non-null    float64
 46  2004          246 non-null    float64
 47  2005          247 non-null    float64
 48  2006          248 non-null    float64
 49  2007          249 non-null    float64
 50  2008          249 non-null    float64
 51  2009          249 non-null    float64
 52  2010          249 non-null    float64
 53  2011          249 non-null    float64
 54  2012          251 non-null    float64
 55  2013          251 non-null    float64
 56  2014          250 non-null    float64
 57  2015          0 non-null      float64
 58  2016          0 non-null      float64
 59  2017          0 non-null      float64
 60  2018          0 non-null      float64
dtypes: float64(59), object(2)
memory usage: 125.9+ KB

### Datos hasta 2018

Estos datos se extrajeron de la Administración de Energía de los Estados Unidos y se unieron para un análisis más fácil. Es una colección de algunos factores importantes que juegan en las emisiones de C02, con todo, desde la producción y el consumo de cada tipo de fuente de energía importante para cada país y su calificación de contaminación cada año. También incluye el PIB de cada país, la población, la intensidad energética per cápita (persona) y la intensidad energética por PIB (PIB por persona). Todos los datos abarcan todo el camino desde la década de 1980 hasta 2020.

Descripciones de las columnas:

* País - País en cuestión
* Energy_type - Tipo de fuente de energía
* Año - Año en que se registraron los datos
* Energy_consumption - Cantidad de consumo para la fuente de energía específica, medida (quad Btu)
* Energy_production - Cantidad de producción para la fuente de energía específica, medida (quad Btu)
* PIB - PIB de los países a paridades de poder adquisitivo, medido (Millardo 2015$ PPA)
* Población - Población de un país específico, medida (Mperson)
* Intensidadenergéticaper_capita - La intensidad energética es una medida de la ineficiencia energética de una economía. Se calcula como unidades de energía por unidad de cápita (cápita = persona individual), medida (MMBtu/persona)
* Intensidadenergéticaby_GDP- La intensidad energética es una medida de la ineficiencia energética de una economía. Se calcula como unidades de energía por unidad de PIB, medidas (1000 Btu/2015$ PIB PPA)
* CO2_emission - La cantidad de C02 emitida, medida (MMtonnes CO2)


### Info hasta el año 2019

In [4]:
# Importamos el archivo csv
energy_main = pd.read_csv('energy.csv')

In [5]:
#head energy_main
print(energy_main.head())

   Unnamed: 0 Country                Energy_type  Year  Energy_consumption  \
0           0   World           all_energy_types  1980          292.899790
1           1   World                       coal  1980           78.656134
2           2   World                natural_gas  1980           53.865223
3           3   World  petroleum_n_other_liquids  1980          132.064019
4           4   World                    nuclear  1980            7.575700

   Energy_production           GDP    Population  Energy_intensity_per_capita  \
0         296.337228  27770.910281  4.298127e+06                    68.145921
1          80.114194  27770.910281  4.298127e+06                    68.145921
2          54.761046  27770.910281  4.298127e+06                    68.145921
3         133.111109  27770.910281  4.298127e+06                    68.145921
4           7.575700  27770.910281  4.298127e+06                    68.145921

   Energy_intensity_by_GDP  CO2_emission
0                   10.547   4946.627130
1                   10.547   1409.790188
2                   10.547   1081.593377
3                   10.547   2455.243565
4                   10.547      0.000000

In [6]:
#tail energy_main
print(energy_main.tail())

       Unnamed: 0   Country                Energy_type  Year  \
55435       55435  Zimbabwe                       coal  2019
55436       55436  Zimbabwe                natural_gas  2019
55437       55437  Zimbabwe  petroleum_n_other_liquids  2019
55438       55438  Zimbabwe                    nuclear  2019
55439       55439  Zimbabwe         renewables_n_other  2019

       Energy_consumption  Energy_production      GDP  Population  \
55435            0.045064           0.075963  37.6204     14654.2
55436            0.000000           0.000000  37.6204     14654.2
55437            0.055498           0.000000  37.6204     14654.2
55438                 NaN                NaN  37.6204     14654.2
55439            0.068089           0.067499  37.6204     14654.2

       Energy_intensity_per_capita  Energy_intensity_by_GDP  CO2_emission
55435                    11.508701                 4.482962      4.586869
55436                    11.508701                 4.482962      0.000000
55437                    11.508701                 4.482962      4.377890
55438                    11.508701                 4.482962      0.000000
55439                    11.508701                 4.482962      0.000000

In [9]:
#filtrar datos de 2019
energy_main_2019 = energy_main[energy_main['Year'] == 2019]
print(energy_main_2019.head())

       Unnamed: 0 Country                Energy_type  Year  \
54054       54054   World           all_energy_types  2019
54055       54055   World                       coal  2019
54056       54056   World                natural_gas  2019
54057       54057   World  petroleum_n_other_liquids  2019
54058       54058   World                    nuclear  2019

       Energy_consumption  Energy_production            GDP    Population  \
54054          601.040490         611.508969  127690.247059  7.714631e+06
54055          163.971776         171.840424  127690.247059  7.714631e+06
54056          146.923396         149.401588  127690.247059  7.714631e+06
54057          196.077358         192.134558  127690.247059  7.714631e+06
54058           27.659891          27.659891  127690.247059  7.714631e+06

       Energy_intensity_per_capita  Energy_intensity_by_GDP  CO2_emission
54054                    77.909168                  4.70702  35584.933498
54055                    77.909168                  4.70702  15773.074341
54056                    77.909168                  4.70702   7607.936618
54057                    77.909168                  4.70702  12203.922539
54058                    77.909168                  4.70702      0.000000

In [10]:
energy_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55440 entries, 0 to 55439
Data columns (total 11 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Unnamed: 0                   55440 non-null  int64
 1   Country                      55440 non-null  object
 2   Energy_type                  55440 non-null  object
 3   Year                         55440 non-null  int64
 4   Energy_consumption           44287 non-null  float64
 5   Energy_production            44289 non-null  float64
 6   GDP                          40026 non-null  float64
 7   Population                   46014 non-null  float64
 8   Energy_intensity_per_capita  50358 non-null  float64
 9   Energy_intensity_by_GDP      50358 non-null  float64
 10  CO2_emission                 51614 non-null  float64
dtypes: float64(7), int64(2), object(2)
memory usage: 4.7+ MB

In [11]:
# cada valor de la columna country 
print(energy_main['Country'].value_counts())

World                   240
Netherlands Antilles    240
New Zealand             240
Nicaragua               240
Niger                   240
                       ...
Germany, West           240
Ghana                   240
Gibraltar               240
Greece                  240
Zimbabwe                240
Name: Country, Length: 231, dtype: int64

In [13]:
# dataframe con World 
world = energy_main[energy_main['Country'] == 'World']
print(world.head())

   Unnamed: 0 Country                Energy_type  Year  Energy_consumption  \
0           0   World           all_energy_types  1980          292.899790
1           1   World                       coal  1980           78.656134
2           2   World                natural_gas  1980           53.865223
3           3   World  petroleum_n_other_liquids  1980          132.064019
4           4   World                    nuclear  1980            7.575700

   Energy_production           GDP    Population  Energy_intensity_per_capita  \
0         296.337228  27770.910281  4.298127e+06                    68.145921
1          80.114194  27770.910281  4.298127e+06                    68.145921
2          54.761046  27770.910281  4.298127e+06                    68.145921
3         133.111109  27770.910281  4.298127e+06                    68.145921
4           7.575700  27770.910281  4.298127e+06                    68.145921

   Energy_intensity_by_GDP  CO2_emission
0                   10.547   4946.627130
1                   10.547   1409.790188
2                   10.547   1081.593377
3                   10.547   2455.243565
4                   10.547      0.000000

### historical_emissions.csv

Fuente: https://www.climatewatchdata.org/data-explorer/historical-emissions?historical-emissions-data-sources=cait&historical-emissions-gases=all-ghg&historical-emissions-regions=All%20Selected&historical-emissions-sectors=total-including-lucf%2Ctotal-including-lucf&page=1

In [2]:
import pandas as pd

In [3]:
#extraer historical_emissions.csv
historical_emissions = pd.read_csv('historical_emissions.csv')
print(historical_emissions.head())

               Country Data source                Sector      Gas    Unit  \
0                World        CAIT  Total including LUCF  All GHG  MtCO₂e
1                China        CAIT  Total including LUCF  All GHG  MtCO₂e
2        United States        CAIT  Total including LUCF  All GHG  MtCO₂e
3                India        CAIT  Total including LUCF  All GHG  MtCO₂e
4  European Union (27)        CAIT  Total including LUCF  All GHG  MtCO₂e

       2019      2018      2017      2016      2015  ...      1999      1998  \
0  49758.23  49368.04  48251.88  47531.68  46871.77  ...  35101.90  35099.21
1  12055.41  11821.66  11385.48  11151.31  11108.86  ...   4028.58   4095.97
2   5771.00   5892.37   5689.61   5743.85   5665.21  ...   6210.12   6208.83
3   3363.60   3360.56   3215.07   3076.48   3003.07  ...   1440.38   1362.33
4   3149.57   3295.53   3379.38   3364.77   3019.49  ...   3874.40   3949.25

       1997      1996      1995      1994      1993      1992      1991  \
0  35537.18  34179.33  33805.61  33015.04  32729.06  32588.09  32670.51
1   3977.65   3982.11   3960.71   3557.37   3397.80   3168.05   3039.15
2   6160.86   5901.00   5729.69   5661.57   5567.55   5456.12   5372.08
3   1331.88   1272.74   1223.65   1158.48   1114.22   1081.28   1056.25
4   3983.29   4058.46   3947.64   3894.63   3908.95   3981.08   4120.94

       1990
0  32523.58
1   2891.73
2   5417.32
3   1002.56
4   4187.90

[5 rows x 35 columns]

In [5]:
#extraer sources.csv
sources = pd.read_csv('sources.csv')
print(sources.head(10))

                      Source  \
0  historical_emissions_cait
1  historical_emissions_cait
2  historical_emissions_cait
3  historical_emissions_cait
4  historical_emissions_cait
5  historical_emissions_cait
6  historical_emissions_cait
7  historical_emissions_cait
8  historical_emissions_cait
9  historical_emissions_cait

                                            Property  \
0                         Title (75 character limit)
1                                    Technical Title
2                                Source Organization
3                                    Learn More Link
4  Function/Summary: Tagline description of what ...
5  Description: \nRecap data name, source organiz...
6  Cautions: Known use limitations/cautions regar...
7  Geographic Coverage: global; quasi-global; sel...
8  Date of Content: List all years; for multiple ...
9  Frequency of Updates: annual; every x years/mo...

                                               Value
0             Climate Watch Historical GHG Emissions
1  Climate Watch Historical Country Greenhouse Ga...
2                          World Resources Institute
3     https://www.climatewatchdata.org/ghg-emissions
4  Historical country-level and sectoral GHG emis...
5  Climate Watch Historical Emissions data contai...
6  Climate Watch Historical GHG Emissions data (p...
7                                             Global
8                                          1990-2019
9                   Annual. Last updated April 2022.

In [6]:
#tail sources
print(sources.tail())

                       Source  \
9   historical_emissions_cait
10  historical_emissions_cait
11  historical_emissions_cait
12  historical_emissions_cait
13  historical_emissions_cait

                                             Property  \
9   Frequency of Updates: annual; every x years/mo...
10                                 Summary of License
11                Link to License or Terms of Service
12                                           Citation
13                                 Published Language

                                                Value
9                    Annual. Last updated April 2022.
10  Creative Commons Attribution-NonCommercial 4.0...
11       https://creativecommons.org/licenses/by/4.0/
12  Climate Watch Historical GHG Emissions. 2022. ...
13                                            English

In [7]:
#info sources
print(sources.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Source    14 non-null     object
 1   Property  14 non-null     object
 2   Value     14 non-null     object
dtypes: object(3)
memory usage: 464.0+ bytes
None