In [1]:
import pandas as pd

### Tabla

In [2]:
#ingestar cvs
df = pd.read_csv(r'Temperatura_anomalia.csv', sep=',')
df.head()

,Unnamed: 0,Pais,Anio,Anomalia De La Temperatura Media Del Promedio De 1961 A 1990,Limite Superior,Limite Inferior,Codigo,Id_Pais,Id_Anio
0,0,Global,1850,-0.373,-0.339,-0.425,NaN,4cc6684df7b4a92b1dec6fce3264fac8,8c3039bd5842dca3d944faab91447818
1,1,Global,1851,-0.218,-0.184,-0.274,NaN,4cc6684df7b4a92b1dec6fce3264fac8,ff1418e8cc993fe8abcfe3ce2003e5c5
2,2,Global,1852,-0.228,-0.196,-0.280,NaN,4cc6684df7b4a92b1dec6fce3264fac8,eb1e78328c46506b46a4ac4a1e378b91
3,3,Global,1853,-0.269,-0.239,-0.321,NaN,4cc6684df7b4a92b1dec6fce3264fac8,7503cfacd12053d309b6bed5c89de212
4,4,Global,1854,-0.248,-0.218,-0.301,NaN,4cc6684df7b4a92b1dec6fce3264fac8,49ad23d1ec9fa4bd8d77d02681df5cfa

In [ ]:
#borrar columnas innecesarias
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [8]:
#cambiar nombre de columnas Anomalia De La Temperatura Media Del Promedio
df.rename(columns={'Anomalia De La Temperatura Media Del Promedio De 1961 A 1990': 'Anomalia Media'}, inplace=True)
df.head()

,Pais,Anio,Anomalia Media,Limite Superior,Limite Inferior,Codigo,Id_Pais,Id_Anio
0,Global,1850,-0.373,-0.339,-0.425,NaN,4cc6684df7b4a92b1dec6fce3264fac8,8c3039bd5842dca3d944faab91447818
1,Global,1851,-0.218,-0.184,-0.274,NaN,4cc6684df7b4a92b1dec6fce3264fac8,ff1418e8cc993fe8abcfe3ce2003e5c5
2,Global,1852,-0.228,-0.196,-0.280,NaN,4cc6684df7b4a92b1dec6fce3264fac8,eb1e78328c46506b46a4ac4a1e378b91
3,Global,1853,-0.269,-0.239,-0.321,NaN,4cc6684df7b4a92b1dec6fce3264fac8,7503cfacd12053d309b6bed5c89de212
4,Global,1854,-0.248,-0.218,-0.301,NaN,4cc6684df7b4a92b1dec6fce3264fac8,49ad23d1ec9fa4bd8d77d02681df5cfa

#

In [12]:
#COLUMNAS
df.columns

Index(['Pais', 'Anio', 'Anomalia Media', 'Limite Superior', 'Limite Inferior',
       'Codigo', 'Id_Pais', 'Id_Anio'],
      dtype='object')