### Óxido Nitroso N2O

### Promedios anuales 2001/2021

#### Desde la columna 60

In [1]:
import pandas as pd

In [3]:
#importar txt n2o_annmean_gl.txt
n2o_annmean_gl = pd.read_csv('n2o_annmean_gl.txt', sep='\t', header=None)
#head
n2o_annmean_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [4]:
#tail
n2o_annmean_gl.tail(10)

                                     0
72    2012        325.05          0.12
73    2013        325.94          0.12
74    2014        327.08          0.12
75    2015        328.17          0.12
76    2016        328.95          0.12
77    2017        329.74          0.11
78    2018        330.90          0.12
79    2019        331.88          0.12
80    2020        333.03          0.13
81    2021        334.31          0.11

In [5]:
#Eliminar filas hasta la 59
n2o_annmean_gl.drop(n2o_annmean_gl.index[:60], inplace=True)
#head
n2o_annmean_gl.head()

                                     0
60  # year          mean           unc
61    2001        316.36          0.14
62    2002        316.94          0.12
63    2003        317.63          0.12
64    2004        318.26          0.12

In [6]:
#info
n2o_annmean_gl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 60 to 81
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       22 non-null     object
dtypes: object(1)
memory usage: 308.0+ bytes

### Óxido Nitroso N2O

### Tasas de crecimiento media anual promediadas a nivel mundial. 2001/2021

#### Desde la columna 62

In [9]:
#importar txt n2o_gr_gl.txt
n2o_gr_gl = pd.read_csv('n2o_gr_gl.txt', sep='\t', header=None)
#head
n2o_gr_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [8]:
#Borrar filas hasta la 59
n2o_gr_gl.drop(n2o_gr_gl.index[:62], inplace=True)
#head
n2o_gr_gl.head()

                                     0
62  # year       ann inc           unc
63    2001          0.71          0.12
64    2002          0.50          0.14
65    2003          0.80          0.14
66    2004          0.53          0.14

In [10]:
#tail
n2o_gr_gl.tail(10)

                                     0
74    2012          0.81          0.15
75    2013          1.01          0.13
76    2014          1.24          0.13
77    2015          0.90          0.15
78    2016          0.66          0.13
79    2017          1.02          0.14
80    2018          1.16          0.12
81    2019          0.91          0.12
82    2020          1.34          0.11
83    2021          1.28          0.13

### Öxido nitroso N2O

### Datos medios mensuales promediados a nivel mundial. 2001/2021

#### Desde la columna 62

In [13]:
# cargar archivo txt n2o_mm_gl.txt
n2o_mm_gl = pd.read_csv('n2o_mm_gl.txt', sep='\t', header=None)
#head
n2o_mm_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [12]:
#borrar 60 filas
n2o_mm_gl.drop(n2o_mm_gl.index[:62], inplace=True)
#head
n2o_mm_gl.head()

                                                    0
62  # year   month       decimal       average   a...
63    2001       1      2001.042         316.3    ...
64    2001       2      2001.125         316.3    ...
65    2001       3      2001.208         316.2    ...
66    2001       4      2001.292         316.1    ...