In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine

In [2]:
def cargaMySql (nombre, dataset):
    a = nombre
    nombre = dataset
    
    #Creacion de variables
    host_name,db_name, u_name, u_pass, port_num  = "localhost","proyecto_final", "root", "marcelA44", "3306"
    
    #Conexion a la db
    mydb = mysql.connector.connect(
    host=host_name,
    user=u_name,
    password=u_pass,
    database=db_name )
    #Creacion del motor de base de datos
    engine = create_engine("mysql+mysqlconnector://" + u_name + ":" + u_pass + "@" + host_name + ":" + port_num + "/" + db_name, echo=False)
    
    #Importacion del dataframe a nuestra base de datos en SQL
    nombre.to_sql(name=a, con=engine, if_exists="append", index=False)
    return print('Carga exitosa')

In [16]:
data_2 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\electricity_prod_source_stacked.csv')

In [11]:
data_3 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Gases_normalizado.csv')

In [13]:
data_4 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\primary_energy.csv')

In [19]:
data = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\historical_emission_normal.csv')

In [17]:
data_11 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Partic_Global_Energia.csv')

In [11]:
data_8 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Primary_sub_normal.csv')

In [12]:
data_9 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Sub_energ_normal.csv')

In [2]:
data_10 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Tabla_Hecho.csv')

In [8]:
cargaMySql('electricity_prod_source', data_2)

Carga exitosa

In [18]:
cargaMySql('Gastos_normalizado', data_3)
cargaMySql('primary_energy', data_4)
cargaMySql('historical_emission_normal', data)
cargaMySql('Partic_Global_Energia', data_11)
cargaMySql('Primary_sub_normal', data_8)
cargaMySql('Sub_energ_normal', data_9)
cargaMySql('Tabla_Hecho', data_10)

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Gastos_normalizado' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa
Carga exitosa
Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Partic_Global_Energia' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Primary_sub_normal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Sub_energ_normal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa
Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Tabla_Hecho' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [4]:
data_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Año             231 non-null    object
 1   País            231 non-null    object
 2   Combustible     231 non-null    object
 3   Continente      231 non-null    object
 4   Id_Año          231 non-null    object
 5   Id_País         231 non-null    object
 6   Id_Combustible  231 non-null    object
 7   Id_Continente   231 non-null    object
dtypes: object(8)
memory usage: 14.6+ KB

In [6]:
import psycopg2
engine = psycopg2.connect(
    database="Laboratorio",
    user="root",
    password="UH39qeH&MN^J5!",
    host="database-2.ct7rxsgbwels.sa-east-1.rds.amazonaws.com",
    port='5432'
)

In [ ]:
def cargaMySql (nombre, dataset):
    a = nombre
    nombre = dataset
    
    #Creacion de variables
    host_name,db_name, u_name, u_pass, port_num  = "localhost","proyecto_final", "root", "marcelA44", "3306"
    
    #Conexion a la db
    mydb = mysql.connector.connect(
    host=host_name,
    user=u_name,
    password=u_pass,
    database=db_name )
    #Creacion del motor de base de datos
    engine = create_engine("mysql+mysqlconnector://" + u_name + ":" + u_pass + "@" + host_name + ":" + port_num + "/" + db_name, echo=False)
    
    #Importacion del dataframe a nuestra base de datos en SQL
    nombre.to_sql(name=a, con=engine, if_exists="append", index=False)
    return print('Carga exitosa')

In [8]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [20]:
engine = create_engine('postgresql+psycopg2://root:UH39qeH&MN^J5!@database-2.ct7rxsgbwels.sa-east-1.rds.amazonaws.com:5432/Laboratorio')

data.head(0).to_sql('historical_emission_normal', engine, if_exists='replace',index=False) #drops old table and creates new empty table

conn = engine.raw_connection()
cur = conn.cursor()
output = io.StringIO()
data.to_csv(output, sep='\t', header=False, index=False)
output.seek(0)
contents = output.getvalue()
cur.copy_from(output, 'historical_emission_normal', null="") # null values become ''
conn.commit()