In [1]:
import pandas as pd
import mysql.connector
from sqlalchemy import create_engine
pd.options.mode.chained_assignment = None

In [2]:
def cargaMySql (nombre, dataset):
    a = nombre
    nombre = dataset
    
    #Creacion de variables
    host_name,db_name, u_name, u_pass, port_num  = "localhost","proyecto_final", "root", "", "3306"
    
    #Conexion a la db
    mydb = mysql.connector.connect(
    host=host_name,
    user=u_name,
    password=u_pass,
    database=db_name )
    #Creacion del motor de base de datos
    engine = create_engine("mysql+mysqlconnector://" + u_name + ":" + u_pass + "@" + host_name + ":" + port_num + "/" + db_name, echo=False)
    
    #Importacion del dataframe a nuestra base de datos en SQL
    nombre.to_sql(name=a, con=engine, if_exists="append", index=False)
    return print('Carga exitosa')

In [2]:
data_2 = pd.read_csv(r'C:\Users\x\OneDrive\Escritorio\Agus\Henry DATA 02\emissionsmap\SubirData\Nuevos-datos-limpio\electricity-prod-source-stacked.csv')

In [3]:
data_3 = pd.read_csv(r'C:\Users\x\OneDrive\Escritorio\Agus\Henry DATA 02\emissionsmap\SubirData\Nuevos-datos-limpio\gases.csv')

In [4]:
data_4 = pd.read_csv(r'C:\Users\x\OneDrive\Escritorio\Agus\Henry DATA 02\emissionsmap\SubirData\Nuevos-datos-limpio\primary_sub_energy.csv')

In [5]:
data = pd.read_csv(r'C:\Users\x\OneDrive\Escritorio\Agus\Henry DATA 02\emissionsmap\SubirData\Nuevos-datos-limpio\historical-emissions.csv')

In [6]:
# data_11 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Partic_Global_Energia.csv')

In [6]:
data_8 = pd.read_csv(r'C:\Users\x\OneDrive\Escritorio\Agus\Henry DATA 02\emissionsmap\SubirData\Nuevos-datos-limpio\sub_energy_fossil.csv')

In [8]:
# data_9 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Sub_energ_normal.csv')

In [7]:
# data_10 = pd.read_csv('c:\\Users\\x\\OneDrive\\Escritorio\\Agus\\Henry DATA 02\\emissionsmap\\documentation\\TablasNormal\\Tabla_Hecho.csv')

In [8]:
cargaMySql('electricity_prod_source', data_2)

Carga exitosa

In [18]:
cargaMySql('Gastos_normalizado', data_3)
cargaMySql('primary_energy', data_4)
cargaMySql('historical_emission_normal', data)
cargaMySql('Partic_Global_Energia', data_11)
cargaMySql('Primary_sub_normal', data_8)
cargaMySql('Sub_energ_normal', data_9)
cargaMySql('Tabla_Hecho', data_10)

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Gastos_normalizado' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa
Carga exitosa
Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Partic_Global_Energia' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Primary_sub_normal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Sub_energ_normal' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

Carga exitosa
Carga exitosa

C:\Users\x\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\pandas\io\sql.py:1663: UserWarning: The provided table name 'Tabla_Hecho' is not found exactly as such in the database after writing the table, possibly due to case sensitivity issues. Consider using lower case table names.
  warnings.warn(msg, UserWarning)

In [ ]:
def cargaMySql (nombre, dataset):
    a = nombre
    nombre = dataset
    
    #Creacion de variables
    host_name,db_name, u_name, u_pass, port_num  = "localhost","proyecto_final", "root", "", "3306"
    
    #Conexion a la db
    mydb = mysql.connector.connect(
    host=host_name,
    user=u_name,
    password=u_pass,
    database=db_name )
    #Creacion del motor de base de datos
    engine = create_engine("mysql+mysqlconnector://" + u_name + ":" + u_pass + "@" + host_name + ":" + port_num + "/" + db_name, echo=False)
    
    #Importacion del dataframe a nuestra base de datos en SQL
    nombre.to_sql(name=a, con=engine, if_exists="append", index=False)
    return print('Carga exitosa')

In [12]:
import psycopg2

In [10]:
from configparser import ConfigParser
config = ConfigParser()
file = '../config.ini'
config.read(file)

['../config.ini']

In [11]:
USER_BASE = config['database']['user']
PASSWORD_BASE = config['database']['passw']
DATABASE = config['database']['db']
PORT = config['database']['port']
HOST = config['database']['host']

In [13]:
def consultas(consulta):
    try:
        connetion = psycopg2.connect(host=HOST, dbname=DATABASE, user=USER_BASE, password=PASSWORD_BASE)
        micursor = connetion.cursor()
        micursor.execute(consulta)
        df = micursor.fetchall()
        df = list(df)
        df = pd.DataFrame(df)
                    
    except Exception as error:
        print(error)
    finally:
        if micursor is not None:
            micursor.close()
        if connetion is not None:
            connetion.close()
        return df

In [14]:
df = consultas(
    """ 
SELECT * FROM gases
    """)

could not translate host name "database-2.ct7rxsgbwels.sa-east-1.rds.amazonaws.com" to address: Unknown host

UnboundLocalError: local variable 'micursor' referenced before assignment

In [15]:
df

,0,1,2,3,4,5,6,7,8,9
0,2001,316.36,0.14,4.78,0.004,371.32,0.12,1771.24,0.53,d0fb963ff976f9c37fc81fe03c21ea7b
1,2002,316.94,0.12,4.98,0.003,373.45,0.12,1772.69,0.55,4ba29b9f9e5732ed33761840f4ba6c53
2,2003,317.63,0.12,5.23,0.002,375.98,0.12,1777.31,0.52,a591024321c5e2bdbd23ed35f0574dde
3,2004,318.26,0.12,5.45,0.002,377.70,0.12,1777.03,0.46,b8b4b727d6f5d1b61fff7be687f7970f
4,2005,318.91,0.10,5.67,0.002,379.98,0.12,1774.14,0.55,d47268e9db2e9aa3827bba3afb7ff94a
...,...,...,...,...,...,...,...,...,...,...
58,1993,NaN,NaN,NaN,NaN,357.21,0.12,1736.49,0.44,c5a4e7e6882845ea7bb4d9462868219b
59,1994,NaN,NaN,NaN,NaN,358.96,0.12,1742.06,0.63,008bd5ad93b754d500338c253d9c1770
60,1995,NaN,NaN,NaN,NaN,360.97,0.12,1748.80,0.47,3f088ebeda03513be71d34d214291986
61,1996,NaN,NaN,NaN,NaN,362.74,0.12,1751.46,0.63,6351bf9dce654515bf1ddbd6426dfa97
62,1997,NaN,NaN,NaN,NaN,363.88,0.12,1754.54,0.36,06964dce9addb1c5cb5d6e3d9838f733

In [15]:
def consultas(consulta):
    try:
        connetion = psycopg2.connect(host=HOST, dbname=DATABASE, user=USER_BASE, password=PASSWORD_BASE)
        micursor = connetion.cursor()
        micursor.execute(consulta)
        column_names = [desc[0] for desc in micursor.description]
        df = micursor.fetchall()
        df = list(df)
        df = pd.DataFrame(df)
        n=0
        for i in df.columns:
            df.rename(columns={i:column_names[n]}, inplace=True)
            n+=1
    except Exception as error:
        print(error)
    finally:
        if micursor is not None:
            micursor.close()
        if connetion is not None:
            connetion.close()
        return df

In [17]:
consultas('Select "Año","Medios N20" from public.gases')

     Año  Medios N20
0   2001      316.36
1   2002      316.94
2   2003      317.63
3   2004      318.26
4   2005      318.91
..   ...         ...
58  1993         NaN
59  1994         NaN
60  1995         NaN
61  1996         NaN
62  1997         NaN

[63 rows x 2 columns]

In [21]:
renovables = consultas('Select "País","Año","Renovables (% Energía Primaria Equivalente)" from public."sub-energy-fossil-renewables-nuclear"')