In [14]:
import pandas as pd

In [15]:
df_owid = pd.read_csv('documentation/data/owid-energy-consumption-source.csv')
print(df_owid.shape)
df_owid.head(3)

(22343, 128)

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,Afghanistan,1900,AFG,4832414.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1901,AFG,4879685.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1902,AFG,4935122.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df_diccionary = pd.read_csv('documentation/data/owid-energy-datadiccionary.csv')
print(df_diccionary.shape)
df_diccionary.loc[0:2,['column','description']]

(128, 3)

                    column                                        description
0  biofuel_cons_change_pct    Annual percentage change in biofuel consumption
1  biofuel_cons_change_twh  Annual change in biofuel consumption, measured...
2  biofuel_cons_per_capita  Per capita primary energy consumption from bio...

In [6]:
#validación de datos no nulos
diccionario = {}
mascara = df_owid.isna().sum()
for i in range(0,len(mascara)):
    p = (df_owid.shape[0] -mascara[i])/df_owid.shape[0]
    if (p <0.5) & (p>0.39):
        diccionario[mascara.index[i]] = round(p,2)
    
diccionario

{'gdp': 0.5,
 'coal_prod_change_pct': 0.44,
 'energy_per_capita': 0.46,
 'hydro_electricity': 0.41,
 'low_carbon_electricity': 0.41,
 'nuclear_electricity': 0.39,
 'oil_prod_change_pct': 0.46,
 'other_renewable_electricity': 0.4,
 'renewables_electricity': 0.4,
 'solar_electricity': 0.4,
 'wind_electricity': 0.4}

In [38]:
#combustibles fósiles
df_owid.loc[:,['fossil_electricity','oil_electricity','coal_electricity','gas_electricity']].sum()

fossil_electricity    3142747.820
oil_electricity        286764.055
coal_electricity      1856527.205
gas_electricity        999456.539
dtype: float64

Las columnas de energías fósiles:
- fossil_electricity = oil_electricity  + coal_electricity + gas_electricity

In [92]:
#combustibles renovables
renovable = df_owid.loc[:,['renewables_electricity','wind_electricity','solar_electricity',
    'hydro_electricity','biofuel_electricity',
    'other_renewable_electricity','other_renewable_exc_biofuel_electricity','low_carbon_electricity']].dropna()

renovable[renovable.renewables_electricity >30]

,renewables_electricity,wind_electricity,solar_electricity,hydro_electricity,biofuel_electricity,other_renewable_electricity,other_renewable_exc_biofuel_electricity,low_carbon_electricity
221,77.712,0.176,0.012,75.256,2.09,2.269,0.43,90.722
222,83.635,0.416,0.015,80.869,2.07,2.335,0.48,94.354
223,87.773,0.444,0.017,85.026,2.06,2.286,0.39,99.764
224,85.753,0.536,0.020,82.575,1.92,2.622,0.79,98.416
225,90.991,0.768,0.025,87.219,2.14,2.979,1.03,104.356
...,...,...,...,...,...,...,...,...
21961,6252.262,1140.393,445.466,4069.983,516.33,596.420,71.76,8889.497
21962,6672.409,1269.979,576.231,4183.167,549.74,643.032,74.06,9372.873
21963,7030.616,1420.544,703.950,4231.377,580.56,674.745,76.69,9826.971
21964,7492.564,1596.428,846.229,4345.990,610.67,703.916,79.59,10186.543
21965,7931.052,1861.940,1032.501,4273.828,664.78,762.783,81.06,10731.319

Las columnas de energías renovables:
- renewables_electricity = wind_electricity + solar_electricity + hydro_electricity + other_renewable_electricity