### Hexafluoruro de Azufre SF6

### Promedios anuales 1998/2021

#### Desde la columna 60

In [3]:
import pandas as pd

In [10]:
#importar txt sf6_annmean_gl.txt
sf6_annmean_gl=pd.read_csv('sf6_annmean_gl.txt', sep='\t', header=None)
sf6_annmean_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [11]:
#tail
sf6_annmean_gl.tail(10)

                                     0
75    2012          7.60         0.004
76    2013          7.91         0.003
77    2014          8.25         0.004
78    2015          8.58         0.004
79    2016          8.91         0.003
80    2017          9.26         0.004
81    2018          9.60         0.006
82    2019          9.94         0.004
83    2020         10.27         0.004
84    2021         10.63         0.006

In [12]:
#Eliminar filas hasta la 59
sf6_annmean_gl.drop(sf6_annmean_gl.index[:60], inplace=True)
#head
sf6_annmean_gl.head()

                                     0
60  # year          mean           unc
61    1998          4.21         0.003
62    1999          4.38         0.003
63    2000          4.58         0.004
64    2001          4.78         0.004

In [13]:
#info
sf6_annmean_gl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 60 to 84
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       25 non-null     object
dtypes: object(1)
memory usage: 332.0+ bytes

### Hexafluoruro de Azufre SF6

### Tasas de crecimiento media anual promediadas a nivel mundial. 1998/2021

#### Desde la columna 62

In [18]:
#importar txt sf6_gr_gl.txt
sf6_gr_gl=pd.read_csv('sf6_gr_gl.txt', sep='\t', header=None)
#head
sf6_gr_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [19]:
#Borrar filas hasta la 59
sf6_gr_gl.drop(sf6_gr_gl.index[:62], inplace=True)
#head
sf6_gr_gl.head()

                                     0
62  # year       ann inc           unc
63    1998          0.20         0.004
64    1999          0.17         0.003
65    2000          0.20         0.005
66    2001          0.19         0.004

### Hexafluoruro de Azufre SF6

### Datos medios mensuales promediados a nivel mundial. Julio de 1997/ abril 2022
#### Desde la columna 62

In [23]:
# cargar archivo txt sf6_mm_gl.txt
sf6_mm_gl = pd.read_csv('sf6_mm_gl.txt', sep='\t', header=None)
#head
sf6_mm_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [24]:
#borrar 60 filas
sf6_mm_gl.drop(sf6_mm_gl.index[:62], inplace=True)
#head
sf6_mm_gl.head()

                                                    0
62  # year   month       decimal       average   a...
63    1997       7      1997.542          4.00    ...
64    1997       8      1997.625          4.00    ...
65    1997       9      1997.708          4.02    ...
66    1997      10      1997.792          4.05    ...

In [25]:
#tail
sf6_mm_gl.tail(10)

                                                     0
351    2021       7      2021.542         10.64    ...
352    2021       8      2021.625         10.67    ...
353    2021       9      2021.708         10.70    ...
354    2021      10      2021.792         10.74    ...
355    2021      11      2021.875         10.79    ...
356    2021      12      2021.958         10.83    ...
357    2022       1      2022.042         10.85    ...
358    2022       2      2022.125         10.88    ...
359    2022       3      2022.208         10.92    ...
360    2022       4      2022.292         10.96    ...