### Metano CH4

### Promedios anuales 1984/2021

#### Desde la columna 60

In [11]:
import pandas as pd

In [12]:
#importar txt ch4_annmean_gl.txt
ch4_annmean_gl = pd.read_csv('ch4_annmean_gl.txt', sep='\t', header=None)
#head
ch4_annmean_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [13]:
#tail
ch4_annmean_gl.tail(10)

                                     0
89    2012       1808.03          0.50
90    2013       1813.40          0.66
91    2014       1822.61          0.51
92    2015       1834.25          0.53
93    2016       1843.12          0.55
94    2017       1849.67          0.59
95    2018       1857.31          0.86
96    2019       1866.59          0.62
97    2020       1878.93          0.59
98    2021       1895.32          0.61

In [14]:
#Eliminar filas hasta la 59
ch4_annmean_gl.drop(ch4_annmean_gl.index[:60], inplace=True)
#head
ch4_annmean_gl.head()

                                     0
60  # year          mean           unc
61    1984       1644.69          0.68
62    1985       1657.28          0.67
63    1986       1670.08          0.82
64    1987       1682.71          0.48

In [15]:
#info
ch4_annmean_gl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 60 to 98
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       39 non-null     object
dtypes: object(1)
memory usage: 444.0+ bytes

### Metano CH4

### Tasas de crecimiento media anual promediadas a nivel mundial. 1983/2021

#### Desde la columna 62

In [20]:
#importar txt ch4_mm_gl.txt
ch4_mm_gl = pd.read_csv('ch4_mm_gl.txt', sep='\t', header=None)
#head
ch4_mm_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [21]:
#Borrar filas hasta la 59
ch4_mm_gl.drop(ch4_mm_gl.index[:62], inplace=True)
#head
ch4_mm_gl.head()

                                                    0
62  # year   month       decimal       average   a...
63    1983       7      1983.542        1626.2    ...
64    1983       8      1983.625        1628.0    ...
65    1983       9      1983.708        1638.4    ...
66    1983      10      1983.792        1644.8    ...

### Metano CH4

### Datos medios mensuales de superficie marina promediados a nivel mundial. 1983/2021

#### Desde la columna 62

In [27]:
# cargar archivo txt ch4_mm_gl.txt
ch4_mm_gl = pd.read_csv('ch4_mm_gl.txt', sep='\t', header=None)
#head
ch4_mm_gl.head()

                                                   0
0  # --------------------------------------------...
1                             # USE OF NOAA GML DATA
2                                                 #
3  # These data are made freely available to the ...
4  # scientific community in the belief that thei...

In [28]:
#borrar 60 filas
ch4_mm_gl.drop(ch4_mm_gl.index[:62], inplace=True)
#head
ch4_mm_gl.head()

                                                    0
62  # year   month       decimal       average   a...
63    1983       7      1983.542        1626.2    ...
64    1983       8      1983.625        1628.0    ...
65    1983       9      1983.708        1638.4    ...
66    1983      10      1983.792        1644.8    ...